@page "/checkout"
@inject OrderState  OrderState
@inject HttpClient  HttpClient
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<div class="main">
    <AuthorizeView Context="authContext">
        <NotAuthorized>
            <h2>Redirecting you...</h2>
        </NotAuthorized>
        <Authorized>
            <EditForm Model="OrderState.Order.DeliveryAddress" OnValidSubmit="PlaceOrder">
                <div class="checkout-cols">
                    <div class="checkout-order-details">
                        <h4>Review Order</h4>
                        <OrderReview Order="OrderState.Order"/>
                    </div>

                    <div class="checkout-order-details">
                        <h4>Deliver to...</h4>
                        <AddressEditor Address="@OrderState.Order.DeliveryAddress"/>
                    </div>
                </div>

                <button class="checkout-button btn btn-warning" type="submit">
                    Place Order
                </button>
                <DataAnnotationsValidator/>
            </EditForm>
        </Authorized>
    </AuthorizeView>
</div>

@code {
    async Task PlaceOrder()
    {
        var newOrderId = await HttpClient.PostJsonAsync<int>("orders", OrderState.Order);
        OrderState.ResetOrder();
        NavigationManager.NavigateTo($"myorders/{newOrderId}");
    }

     [CascadingParameter] Task<AuthenticationState> AuthenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateTask;
        if (!authState.User.Identity.IsAuthenticated)
        {
            await LocalStorage.SetAsync(JSRuntime, "currentorder", OrderState.Order);
            NavigationManager.NavigateTo("user/signin?redirectUri=/checkout", true);
        }
    }
}
