@page "/checkout"
@inject OrderState  OrderState
@inject HttpClient  HttpClient
@inject NavigationManager NavigationManager

<div class="main">
    <div class="checkout-cols">
        <div class="checkout-order-details">
            <h4>Review Order</h4>
            <OrderReview Order="OrderState.Order"/>
        </div>
    </div>

    <button class="checkout-button btn btn-warning" @onclick="PlaceOrder">
        Place Order
    </button>

</div>

@code {
     async Task PlaceOrder()
    {

        var newOrderId = await HttpClient.PostJsonAsync<int>("orders", OrderState.Order);
        OrderState.ResetOrder();
        NavigationManager.NavigateTo($"myorders/{newOrderId}");
    }
}
